* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    display: flex;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    margin-bottom: 20px;
    margin-top: 200px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: #181818 0px 2px 15px;
}

button#start {
    background-color: #4CAF50;
    color: white;
}

button#stop {
    background-color: #f44336;
    color: white;
}
